<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394813463686-6k7bavjvp832lulf7lkf8u3mtsp947ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394813463686-6k7bavjvp832lulf7lkf8u3mtsp947ot</string>
	<key>API_KEY</key>
	<string>AIzaSyBynjHBlPGEBDXf62u7d5DfV-UEkzM3Aqs</string>
	<key>GCM_SENDER_ID</key>
	<string>394813463686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.Yedir</string>
	<key>PROJECT_ID</key>
	<string>yedir-28955</string>
	<key>STORAGE_BUCKET</key>
	<string>yedir-28955.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394813463686:ios:95e2adfc38f65c15fd8507</string>
	<key>DATABASE_URL</key>
	<string>https://yedir-28955-default-rtdb.firebaseio.com</string>
</dict>
</plist>